build/
.vscode/
docs_sphinx/_build/
.sconsign.dblite
cmake-build-debug/
cmake-build-release/
cmake-build-test/
.clang-tidy
.idea/
.vs/
out/
CMakeSettings.json
resources/data_in.tar.xz
resources/gebco20/
resources/chile_gebco20_usgs_250m_bath_fixed.nc
resources/chile_gebco20_usgs_250m_displ_fixed.nc
